:root {
    font-family:
            system-ui,
            -apple-system,
            Segoe UI,
            Roboto,
            Arial;
}
body {
    margin: 0;
    background: #f6f8fb;
    color: #111827;
}
